.category {
    font-family: Caveat;
    letter-spacing: 1.5px;
    h2 {
        margin: 0;
        padding-bottom: 1em;
    }
    border-radius: 25px;
    box-shadow: $pressed-font-color 3px 5px 15px;
    width: fit-content;
    height: fit-content;
    padding: 1em 2em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg{
        width: 75px;
        height: 75px;
    }

    &:hover{
        cursor: pointer;
        box-shadow: $pressed-font-color 6px 10px 30px;
    }
}