@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.header {
  position: relative;
  top: 0;
  background-color: $base-color;
  width: 100vw;

  .page-header {
    padding-top: 1em;
    width: fit-content;
    display: flex;
    .page-title,
    .page-logo {
      font-size: $page-title-font-size;
      color: $base-font-color;
      font-family: Caveat;
      letter-spacing: 2px;
      padding-left: 1.75em;
      text-decoration: none;
      .always {
        font-weight: bold;
      }
    }
    .page-title {
      padding-left: 0.5em;
    }
  }

  .welcome-user {
    color: $pressed-font-color;
    position: absolute;
    top: 1em;
    font-weight: bold;
    right: 2em;
    i {
      padding-left: 5px;
    }
  }
  nav {
    width: 100vw;
    padding: 2em 0;

    .header-list {
      margin: 0;
      list-style-type: none;
      display: flex;
      justify-content: left;
      padding: 0;
      font-family: Montserrat;

      .header-list-item {
        display: inline;
        padding-left: 6em;
        font-size: 1.25em;

        .nav-link {
          text-decoration: none;
          color: $base-font-color;
        }
        .activated {
          color: $pressed-font-color;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
