@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.header {
  position: relative;
  top: 0;
  background-color: $base-color;
  width: 100vw;

  .page-header {
    padding-top: 1em;
    width: fit-content;
    display: flex;
    .page-title,
    .page-logo {
      font-size: $page-title-font-size;
      color: $base-font-color;
      font-family: Caveat;
      letter-spacing: 2px;
      padding-left: 1.75em;
      text-decoration: none;
      .always {
        font-weight: bold;
      }
    }
    .page-title {
      padding-left: 0.5em;
    }
  }

  .divider {
    height: 0;
    width: 0;
    border-right: 100vw solid transparent;
    border-bottom: 10vw solid white;
    @media (max-width: 800px) {
      display: none;
    }
  }

  .welcome-user {
    color: $pressed-font-color;
    position: absolute;
    top: 1em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Caveat;
    right: 2em;
    @media (max-width: 800px) {
      text-align: right;
      position: relative;
      padding-bottom: 2em;
    }
    i {
      padding-left: 0.5em;
    }
  }
  nav {
    width: 100vw;
    margin-top: -1.85em;
    @media (max-width: 800px) {
      padding-bottom: 2em;
    }

    .header-list {
      margin: 0;
      list-style-type: none;
      display: flex;
      justify-content: left;
      padding: 0;
      gap: 6em;
      margin-left: 6em;
      font-family: Montserrat;
      @media (max-width: 800px) {
        gap: 2em;
        margin-left: 2em;
      }

      .header-list-item {
        display: inline;
        font-size: 1.5em;
        transition: transform 0.4s ease;
        &:hover {
          transform: scale(1.2);
        }

        .nav-link {
          text-decoration: none;
          transition: color 0.3s ease;
          color: $base-font-color;
          &:hover {
            color: $button-hover-color;
          }
        }
        .activated {
          color: $pressed-font-color;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
